shim-version: v0.3.12@sha256:b81f2295ae6750d61e94f810ce24077360001b6ec795d13643f3170df29e304d
cvm-version: 0.6.5
cpus: 2
memory: 8192

containers:
  - name: "memory-box"
    image: "ghcr.io/amotivv-inc/memory-box-go:latest@sha256:0f301afb6c97051be160e4e040e6736b6185f0cedeb634ca2fab8cfe9636f796"
    secrets:
      - OPENROUTER_API_KEY
      - TURBOPUFFER_API_KEY
      - API_KEY

shim:
  listen-port: 443
  upstream-port: 8080
  paths:
    - /health
